.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-dialog-content {
    background: #222831;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.confirmation-dialog-content p {
    margin-bottom: 20px;
}

.confirmation-dialog-content button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #7D7C7C;
    color: white;
    border-radius: 5px;
}

.confirmation-dialog-content button:hover {
    background-color: #5a6268;
}

.confirmation-dialog-content button:nth-child(2) {
    background-color: green;
}

.confirmation-dialog-content button:nth-child(2):hover {
    background-color: #54B435;
}
