.delete_fee{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 85%;
  margin: auto;
}

.fee_delete_table
 {
    border-radius: 8px;
    margin-top: 20px;
    width: 93%;
    overflow-x: auto; /* Makes the table scrollable on small screens */
  }
  
  .fee_delete_table
   table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .fee_delete_table
   th,
  .fee_delete_table
   td {
    padding: 10px;
    border: 0.5px solid #4e4c4c;
    text-align: center;
  }
  
  .fee_delete_table
   th {
    background-color: #222831;
    color: white;
  }

  .fee_delete_table
   tr:nth-child(even) {background-color: #69696927;}

  .fee_delete_table
   tbody tr:hover {
    background-color: #191717;
  }

  .fee_delete_table
  td button{
   background-color: #222831;
   color: red;
 }