.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.home p {
    color: #EEEEEE;
    font-size: 23px;
    text-align: center;
}

.home typer {
    animation: typing 0.2s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
}
