.newstudent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .stud_cred {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between each child element */
    width: 100%;
    max-width: 400px; /* Optional: Limits the width of the form */
  }
  
  .stud_cred div {
    display: flex;
    flex-direction: column;
  }
  
  .stud_cred label {
    margin-bottom: 5px;
  }
  
  .stud_cred input {
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 4px;
  }
  
  .stud_submit{
    padding: 20px;
  }

  .stud_submit button{
    background-color: #379237;
  }

  .stud_submit button:hover{
    background-color: #54B435;
  }

  .stud_class select {
    max-height: 150px;
    overflow-y: auto;
    padding: 8px;
    border: 0px solid #ccc;
    background-color: #31363F;
    color: white;
    border-radius: 4px;
}